{% extends "base.html" %}

{% load static %}
{% block extra_css%}
<link rel="stylesheet" href="{% static 'apiary/css/apiary.css' %}" />
{% endblock%}

{% block content %}
<div class="container">
    <div id="test"></div>
    <div class="row">
        <div class="col-sm-12">
            <h1>Confirm Delete</h1>
            <form method="POST">
                {% csrf_token %}
                <p>Warning you are about to delete : {{ hivedel.hive_name }} </p>
                <p>All data included with this Hive will be <strong>LOST</strong> including all
                    inspection records and all medical records</p>
                <p>If you want to keep the inspection & medical data please back it up with the save as
                    PDF button</p>
                <a class="btn btn-danger" id="firstWarning" onclick=secondWarning()>Confirm</a>
                <span id="secondary-confirm"></span>
                <a href="{% url 'hive' apiary_id %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
    <div class="emptydiv"></div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'hives/js/hives.js' %}"></script>
{% endblock %}