{% extends "base.html" %}

{% load static %} 
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'hives/css/hives.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                        <h1>Edit Insection Details</h1>
                        <h3>Doc ID: {{ docid }}</h3>
                <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.queen |as_crispy_field }}
                        {{ form.queenColour |as_crispy_field }}
                        {{ form.qcnum |as_crispy_field }}
                        {{ form.eggs |as_crispy_field }}
                        {{ form.brood |as_crispy_field }}
                        {{ form.food |as_crispy_field }}
                        {{ form.supersnum |as_crispy_field }}
                        {{ form.weather |as_crispy_field }}
                        {{ form.temperment |as_crispy_field }}
                        {{ form.notes |as_crispy_field }}
                        {{ form.beekeepername |as_crispy_field }}
                        <div>
                            <div>You have uploaded <span id="uploaded_images_total">{{ uploadedImages }}</span> out of 
                                <span id="uploaded_images_quoter">{{ imageQuoter }}</span></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-image1" id="image1">
                                {{ form.image1 |as_crispy_field }}
                            </div>
                            <div class="col-sm-6 form-image2" id="image2">
                                {{ form.image2 |as_crispy_field }}
                            </div>
                        </div>
                        <hr>
                        <h6>Has this hive been merged with another?</h6>
                        {{ form.merged_with|as_crispy_field }}
                        {{ form.merged_date|as_crispy_field }}
                    <button class="btn btn-info buttons-click" type="submit">Done</button>
                </form>
            </div> 
		</div>
    </div>
<div class="emptydiv"></div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
    <script src="{% static 'hives/js/editHive.js' %}"></script>
{% endblock %}