{% extends "base.html" %}

{% load static %}
{% block extra_css%}
<link rel="stylesheet" href="{% static 'hives/css/hives.css' %}" />
{% endblock%}

{% block content %}
<h1>Hive Documents</h1>
<h3>Hive Name: {{ hivename.hive_name }}</h3>
    {% for doc in docs %}
        <div>
            Date: {{ doc.time_and_date }}
            Log Number: {{ doc.id }} 
            Hive Number: {{ doc.hivenumber}}
            Queen: {% if doc.queen %} Yes Queen Colour: {{ doc.queenColour }}{% else %} No {% endif %}
            QC: {% if doc.qc %} Yes QC Number: {{ doc.qcnum }} {% else %} No {% endif %}
            Eggs: {% if doc.eggs %} Yes {% else %} No {% endif %} 
            Supers:{% if doc.supers %} Yes Number Of Supers: {{ doc.supernum }} {% else %} No {% endif %}
            Weather: {% if doc.weather == None %}Wether Not Recorded {% else %} {{ doc.weather }} {% endif %}
            Notes: {{ doc.notes }}
            Beekeeper: <span class="capitaise">{{ doc.beekeepername }}</span></div>
            <div><a href="{% url 'editHiveDoc' hivename.id doc.pk %}">Edit</a><a href="{% url 'deleteHivedoc' hivename.id doc.pk %}">Delete</a></div>
        <hr color=gray>
    {% endfor %}
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% endblock %}