{% extends "base.html" %}

{% load static %}
{% block extra_css%}
<link rel="stylesheet" href="{% static 'hives/css/hives.css' %}" />
<link rel="stylesheet" href="{% static 'hives/css/weather.css' %}" />
{% endblock%}

{% block entendedjs %}
<script src="https://thehoneycombam.s3.eu-west-2.amazonaws.com/js/helper.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1>Welcome to {{apiary.full_name|title}}</h1>
            <h2>{{apiary.town_or_city}}</h2>
        </div>
        <div class="col-sm-6">
            <div id="weatherbox" class="col-sm-12 weatherboxcold">
                <div class="row">
                    <div class=" col-sm-6 currentweatherleft textcol">
                        <div class="weathertext weatherarea">{{ area }}</div>
                        <div id="current_temp" class="weathertext">{{ current_temp }}&#x2103</div>
                        <div id="current_tempdisp" style="display:None">{{ current_temp }}</div>
                        <div class="weathertext">{{ dec|title }}</div>
                    </div>
                    <div class="col-sm-6 currentweatherright textcol">
                        <img src="{{ iconnow }}" alt="wether icon"><br>
                        <div class="weathertext">Feels Like: {{ feels_like }} &#x2103</div>
                    </div>
                </div>
                {% if alertcurrent %}
                <div class="row">
                    <div class="col-sm-12">
                        <div id="alert_heading" class="alert_heading">WEATHER ALERT !</div>
                        <div class="weathertextalert">{{ alertcurrent }}</div>
                    </div>
                </div>
                {% endif %}
                <div id="separator" class="separatorcold"></div>
                <div style="text-align: center;" class="weathertext textcol">5 Day Forecast</div>
                <div class="row">
                    <div class="col dayforcastinfo textcol1">
                        <div class="dayforcastinfo rline">
                            <img src="{{ icon1 }}" alt="weather icon">
                            <div class="forecastprecip"><img class="rainropimage"
                                    src="/static/hives/images/raindrop.png" alt="weather icon"> {{ day1pop }}%</div>
                            <div class="weathertext">{{ day1max }}/{{ day1min }}</div>
                        </div>
                        <div class="dayforcastinfo rline">
                            <img src="{{ icon2 }}" alt="weather icon">
                            <div class="forecastprecip"><img class="rainropimage"
                                    src="/static/hives/images/raindrop.png" alt="weather icon"> {{ day2pop }}%</div>
                            <div class="weathertext">{{ day2max }}/{{ day2min }}</div>
                        </div>
                        <div class="dayforcastinfo rline">
                            <img src="{{ icon3 }}" alt="weather icon">
                            <div class="forecastprecip"><img class="rainropimage"
                                    src="/static/hives/images/raindrop.png" alt="weather icon"> {{ day3pop }}%</div>
                            <div class="weathertext">{{ day3max }}/{{ day3min }}</div>
                        </div>
                        <div class="dayforcastinfo rline">
                            <img src="{{ icon4 }}" alt="weather icon">
                            <div class="forecastprecip"><img class="rainropimage"
                                    src="/static/hives/images/raindrop.png" alt="weather icon"> {{ day4pop }}%</div>
                            <div class="weathertext">{{ day4max }}/{{ day4min }}</div>
                        </div>
                        <div class="dayforcastinfo rline">
                            <img src="{{ icon5 }}" alt="weather icon">
                            <div class="forecastprecip"><img class="rainropimage"
                                    src="/static/hives/images/raindrop.png" alt="weather icon"> {{ day5pop }}%</div>
                            <div class="weathertext">{{ day5max }}/{{ day5min }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2>Hives</h2>
            <a class="btn btn-secondary" href="{% url 'addHive' apiaryID %}"> Add Hives</a>
            <div>
                {% for hive in hives %}
                <a href="{% url 'hiveDocs' hive.id %}">
                    <h5>Hive Name: {{ hive.hive_name }}</h5>
                    <h4>Hive id: {{ hive.id }}</h4>
                    <h4>Apiary id: {{ apiaryID }}</h4>
                    <h4>Hive Type: {{ hive.hive_type }}</h4>
                </a>
                <a class="btn btn-secondary" href="{% url 'deleteHive' apiaryID hive.id %}"><i
                        class="fas fa-trash-alt"></i> Delete</a>
                <a class="btn btn-secondary" href="{% url 'editHive' apiaryID hive.id %}"><i class="fas fa-edit"></i>
                    Edit</a>
                <a class="btn btn-secondary" href="{% url 'addhiveDoc' hive.id %}">Add Inspection</a><br>
                <a class="btn btn-secondary" href="{% url 'hiveMedicalHistory' hive.id %}"><i
                        class="fas fa-file-medical"></i> Medical History</a><br>
                Hive Movement History:
                {% if hive.hive_new_apiary %}
                <h4>Hive moved to Apiary {{ hive.hive_new_apiary }} <br>
                    on the {{ hive.hive_move_date }} from Apiary {{ hive.hive_old_apiary }}</h4>
                {% else %}
                Hive has not been moved from original site {{ hive.hive_old_apiary }}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="emptydiv"></div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'hives/js/weather.js' %}"></script>
{% endblock %}