.container{
    margin-bottom: 60px;
}

.no-apiarys{
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

.no-apiarys-sub-heading{
    font-size: 1.7rem;
}

.club-logos{
    width: 50%;
}

.nsbk-logos{
    width: 35%;
}

.defra-logo{
    padding-top: 10px;
}

.logo-row{
    justify-content: center;
    text-align: center;
    margin-top: 40%;
}

.button-row{
    text-align: center;
    margin-bottom: 10px;
}

.page-heading{
    font-size: 2.5rem;
    font-weight: 600;
}

.sub-heading{
    font-size: 2rem;
    margin-bottom: 10px;
}

.apiary_image{
    height: auto;
    width: 80%;
}

.apiary_box{
    margin: 5px;
    border: 2px solid black;
    text-align: center;
    box-shadow: 5px 5px 10px 0px gray;
    padding-left: 1px;
    padding-right: 1px;
    width: 70%;
}

.apiary_row{
    justify-content: center;
}

.apiary_heading{
    font-size: 1.5rem;
}

.apiary_buttons{
    width: 45%;
    border-radius: 0%;
    margin-bottom: 10px;
}


/* ------------------- Media Queries -----------------*/

@media only screen and (max-width: 1024px){

}

@media only screen and (min-width: 768px){

}
@media only screen and (min-width: 991px){
   
}

@media only screen and (max-width: 991px){
   
}

@media only screen and (max-width: 768px){
    .page-heading{
        font-size: 1.8rem;
    }
    .no-apiarys{
        font-size: 2rem;
    }
    .no-apiarys-sub-heading{
        font-size: 1.5rem;
    }
    .club-logos{
        width: 80%;
    }
    .nsbk-logos{
        width: 50%;
        padding-top: 5px;
    }
    .defra-logo{
        padding-top: 20px;
    }
    .desktop-tips{
        display: none;
    }
    .mobileButton{
        display: block!important;
    }
    .desktop-tips-show{
        display: block;
    }
}     

@media only screen and (max-width: 425px){
    .no-apiarys-sub-heading{
        font-size: 1.4rem;
    }
    .club-logos{
        width: 80%;
    }
    .nsbk-logos{
        width: 50%;
        padding-top: 5px;
    }
    .defra-logo{
        padding-top: 15px;
        padding-left: 0px;
    }
    #logodiv3{
        text-align: left;
    }
}    
   
@media only screen and (max-width: 375px){

}    

@media only screen and (max-width: 320px){
    .heading-info{
        text-align: center;
    }
    .sub-heading{
        font-size: 1.5rem;
    }
    .container{
        margin-bottom: 100px;
    }
}    