{% extends "base.html" %}

{% load static %}
{% block extra_css%}
<link rel="stylesheet" href="{% static 'apiary/css/apiary.css' %}" />
{% endblock%}

{% block content %}
<div class="container">
    <div id="test"></div>
    <div class="row">
        <div class="col-sm-12">
            <h1>Apiary page</h1>
            <div>   
                    {% for apiary in apiaries %}
                        {% if apiary.user == request.user %} 
                        <a href="{% url 'hive' apiary.pk %}">
                        <h5>Site Name: {{ apiary.full_name }}</h5></a>>
                        Site User: {{ apiary.user }}<br>
                        Loggedin User: {{ request.user }}<br>
                        <h4>Apiary id: {{ apiary.id }}</h4>
                        <a href="{% url 'editApiary' apiary.pk %}">Edit</a>
                        <a href="{% url 'deleteApiary' apiary.pk %}">Delete Apiary</a><br>
                        {% endif %}
                    {% endfor %}
            </div>
        </div>
    </div>
    <div class="emptydiv"></div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'apiary/js/apiary.js' %}"></script>
{% endblock %}

