{% extends "base.html" %}

{% load static %}
{% block extra_css%}
<link rel="stylesheet" href="{% static 'apiary/css/apiary.css' %}" />
{% endblock%}

{% block content %}
<div class="container">
    <div id="test"></div>
    <div class="row">
        <div class="col-sm-12">
            <h1>Welcome to your Apiary's</h1>
            <a class="btn btn-secondary" href="{% url 'addApiary' %}"><i class="fas fa-sitemap"></i> Add Apiary</a>
            <a class="btn btn-secondary" href="{% url 'beeMedical'%}"><i class="fas fa-notes-medical"></i> Bee Medical</a>
            <div class="row">
                <div class="col-sm-12">
                <div id='apiarytips'></div>
                </div>
            </div>
          
            {% if apiaries %}
            <div>
                {% for apiary in apiaries %}
                <a href="{% url 'hive' apiary.pk %}">
                    <h5>Site Name: {{ apiary.full_name|title }}</h5>
                </a>
                Site User: {{ apiary.user|title }}<br>
                Loggedin User: {{ request.user|title }}<br>
                <h4>Apiary id: {{ apiary.id }}</h4>
                <a href="{% url 'editApiary' apiary.pk %}">Edit</a>
                <a href="{% url 'deleteApiary' apiary.pk %}">Delete Apiary</a><br>
                {% endfor %}
            </div>
            {% else %}
            <h3>You have not added any Apiarys, please click here to add an apiary <a class="btn btn-secondary"
                    href="{% url 'addApiary' %}">Add Apiary</a></h3>
            {% endif %}
        </div>
    </div>
    <div class="emptydiv"></div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'apiary/js/apiary.js' %}"></script>
<script type="text/javascript" src="{% static 'apiary/js/apiaryTips.js' %}"></script>
{% endblock %}