{% extends "base.html" %}

{% load static %}
{% block extra_css%}
<link rel="stylesheet" href="{% static 'apiary/css/apiary.css' %}" />
{% endblock%}

{% block content %}
      <div class="container">
          <div class="row">
              <div class="col-sm-12">
                  <h1>setup page</h1>
              </div>
              <a class="btn btn-secondary" href="{% url 'addApiary' %}">Add Apiary</a>
              <a class="btn btn-secondary" href="">Add Hive</a>
          </div>
      </div>
  
 
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% endblock %}