{% extends "base.html" %}

{% load static %} 
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'hives/css/hives.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                        <h1>Add Hive Medical Record</h1>
                <form class="addHiveMedicalRecordForm" method="POST" action="{% url 'addMedicalRecord' hiveinst.pk %}"enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form| crispy }}
            
                    <button class="btn btn-info buttons-click" type="submit" href="{% url 'hiveMedicalHistory' hiveinst.pk %}">Add</button>
                </form>
            </div> 
		</div>
    </div>
 <div class="emptydiv"></div>   

{% endblock %}