{% extends "base.html" %}

{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static '/medical/css/medical.css' %}" />
{% endblock%}

{% block content %}
<div class="bg-image">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <p class="medical_heading">Bee Medical</p>
    </div>
  </div>
  {% if medications %}
  <div class="row">
    <div class="col-sm-12 buttons_col">
      <a class="btn btn-secondary" href="{% url 'addMedicine'%}"><i class="fas fa-prescription-bottle-alt"></i> Add
        Medicine</a>
      <a class="btn btn-secondary" href="{% url 'apiary' %}">Back</a>
    </div>
  </div>
  <div class="row cards_row mx-auto">
    {% for med in medications reversed %}
    <div class="col-lg-4 col-md-6 card_col mx-auto">
      {% if datetoday > med.medicine_exp_date %}  
      <div id="cardexpire" class="card">
        {% else %}
        <div id="card" class="card">
      {% endif %}
        <div class="card-header">
          Medication: <strong>{{ med.medicine_name|title }}</strong><br>
          <span>Expiery: <span id="expire">{{ med.medicine_exp_date }}</span> {% if datetoday > med.medicine_exp_date %} <span class="text-danger">EXPIRED!!!!</span> {% endif %}</span>
        </div>
        <div class="card-body">
          <div class="card-text">
            Supplier: <br>
            {{ med.supplier_full_name|title }}
            <br>
            {{ med.supplier_street_address1 }}<br>
            {{ med.supplier_street_address2 }}<br>
            {{ med.supplier_town_or_city }}<br>
            {{ med.supplier_county }}<br>
            {{ med.supplier_postcode }}
            <hr>
            Batch Number: {{ med.medicine_batch_number }}
            <br>
            Qty Purchased: {{med.medicine_qty}}
            <br>
            Date of Purchase: {{ med.medicine_purchase_date }}
            <br>
            Updated ? {% if med.medicine_updated %} {{ med.medicine_updated }} {% else %} No {% endif %}
          </div>
          <a href="{% url 'medhiveused' med.pk %}">Hives using this medication</a><br>
          <a href="{% url 'editMedicine' med.pk %}">Edit Medicine</a><br>
          <a href="{% url 'deleteMedicine' med.pk %}">Delete</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <div class="row">
    <div class="col-sm-6">
      <h3>You dont have an medications, to add some please click here: <a class="btn btn-secondary"
          href="{% url 'addMedicine'%}">Add Medicine</a></h3>
    </div>
  </div>
  {% endif %}
  <div class="spacerdiv"></div>
</div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'medical/js/medical.js' %}"></script>
{% endblock %}