
.bg-image{
    background-image: url(/media/media/images/bg2.jpg); 
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat:no-repeat;
    position: absolute;
    z-index: -1;
    width: 100%;
    min-height: 100%;
}

.card{
    border: 2px solid Green;
    width: 18rem;
    margin-top: 20px;
    text-align: left;
    box-shadow: 5px 5px 10px 0px gray;
}

#cardexpire{
    border: 2px solid red;
}

.medical_heading{
    /* font-family: 'Patrick Hand', cursive; */
    font-family: 'Concert One', cursive;
    font-size: 2.8rem;
    text-align: center;
}

.buttons_col{
    text-align: center;
}

.card:hover{
    box-shadow: 5px 5px 10px 0px gray;
}

.cards_row{
    margin-top: 10px;
    text-align: -webkit-center;
}

.spacerdiv{
    height: 100px;
}


@media only screen and (max-width: 768px) {
  

}

@media only screen and (max-width: 425px) {
  

}

@media only screen and (max-width: 375px) {
   
   
}

@media only screen and (max-width: 320px) {
    .card{
        width: 18rem;
        margin-top: 20px;
        text-align: left;
        margin-left: 0px;
    }
    .cardexpire{
        width: 18rem;
        margin-top: 20px;
        text-align: left;
        margin-left: 0px;
    }
    .card_col{
        padding-left: 0px;
        padding-right: 0px;
    }
   
}