{% load static %}

<!doctype html>
<html lang="en">

<head>

  {% block meta %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Patrick+Hand&display=swap" rel="stylesheet">
  {% endblock %}

  {% block corecss %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  {% endblock %}

  {% block extra_css %}
  {% endblock %}

  {% block corejs %}
  <script src="https://kit.fontawesome.com/a71ecb4f79.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  {% endblock %}

  {% block entendedjs %}
  {% endblock %}

  <title>Apis Metrics {% block extra_title %} {% endblock %}</title>

</head>

<body>
  <div class="bg-image"></div>
  <nav class="navbar navbar-expand-lg navbar_colour">
    <!-- if the user is authenticated then change the displayed options and routing for the home buttons -->
    {% if request.user.is_authenticated %}
    <a href="{% url 'apiary'%}"><img class="honey-combe-logo-image-navbar" src="{% static 'images/combicon.png' %}"
        alt="honeycombelogo"></a>
    <a class="navbar-brand link_colour navbar_heading" href="{% url 'apiary' %}">Apis Metrics</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
    </button>
    <div class="collapse navbar-collapse navitems" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active link_colour" href="{% url 'apiary' %}"><img src=""><img
            class="navbar-image-hive" src="{% static 'images/hive.png' %}" alt="honeycombelogo"> Home<span
            class="sr-only">(current)</span></a>
        <a class="nav-item nav-link link_colour" href="{% url 'wiki' %}"><img class="navbar-image"
            src="{% static 'images/wiki.png' %}" alt="honeycombelogo"> WiKi</a>
        <div class="dropdown">
          <a class=" nav-link dropdown-toggle link_colour uppercase" href="#" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{request.user.username}}</a>
          <div class="dropdown-menu dropdown-menu-right drop-menu background_dropdown"
            aria-labelledby="dropdownMenuLink">
            <a class="nav-link dropdown-item link_colour" href="{% url 'apiary'%}"><i class="fas fa-sitemap"></i>
              Apiarys</a>
            <a class="nav-link dropdown-item link_colour" href="{% url 'beeMedical'%}"><i
                class="fas fa-notes-medical"></i> Bee Medical</a>
            <a class="nav-link dropdown-item link_colour" href="{% url 'account_logout' %}"><i
                class="fas fa-power-off"></i> logout</a>
          </div>
        </div>
        {% else %}
        <a href="{% url 'home'%}"><img class="honey-combe-logo-image-navbar" src="{% static 'images/combicon.png' %}"
            alt="honeycombelogo"></a>
        <a class="navbar-brand link_colour navbar_heading" href="{% url 'home' %}">Apis Metrics</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse navitems" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active link_colour" href="{% url 'home' %}"><img src=""><img
                class="navbar-image-hive" src="{% static 'images/hive.png' %}" alt="honeycombelogo"> Home<span
                class="sr-only">(current)</span></a>
            <a class="nav-item nav-link link_colour" href="{% url 'wiki' %}"><img class="navbar-image"
                src="{% static 'images/wiki.png' %}" alt="honeycombelogo"> WiKi</a>
            <a class="nav-item nav-link link_colour" href="{% url 'account_login' %}"><i
                class="fas fa-sign-in-alt"></i>login/Signup</a>
            {% endif %}
          </div>
        </div>
  </nav>

  {% if messages %}
  <div class="notifications">
    {% for message in messages %}
    {% with message.level as level %}
    {% if level == 40 %}
    {% include 'messages/error_message.html' %}
    {% elif level == 30 %}
    {% include 'messages/warning_message.html' %}
    {% elif level == 25 %}
    {% include 'messages/success_message.html' %}
    {% else %}
    {% include 'messages/info_message.html' %}
    {% endif %}
    {% endwith %}
    {% endfor %}
  </div>
  {% endif %}

  {% block content %}
  {% endblock %}

  <footer>
    <div class="container-fluid footer">
      <div class="row footer-width">
        <div class="col-sm-4 ">
          <div class="slogan-footer">Apiary Management</div>
        </div>
        <div class="col-sm-4 desktop-view">
          <div class="copyright-footer">Copyright &copy;
            <script> document.write(new Date().getFullYear()); </script> ApisMetrics Apiary Management
          </div>
        </div>
        <div class="col-sm-4 desktop-view">
          <div class="footer-social-icons">
            <span><a href="https://www.facebook.com/" target="_blank" class="fa fa-facebook"></a></span>
            <span><a href="https://twitter.com/?lang=en-gb" target="_blank" class="fa fa-twitter"></a></span>
            <span><a href="https://www.instagram.com/" target="_blank" class="fa fa-instagram"></a></span>
            <span><a href="https://www.youtube.com/" target="_blank" class="fa fa-youtube"></a></span>
            <span><a href="https://www.snapchat.com/l/en-gb/" target="_blank" class="fa fa-snapchat"></a></span>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mobile-view">
        <div class="footer-social-icons">
          <span><a href="https://www.facebook.com/" target="_blank" class="fa fa-facebook"></a></span>
          <span><a href="https://twitter.com/?lang=en-gb" target="_blank" class="fa fa-twitter"></a></span>
          <span><a href="https://www.instagram.com/" target="_blank" class="fa fa-instagram"></a></span>
          <span><a href="https://www.youtube.com/" target="_blank" class="fa fa-youtube"></a></span>
          <span><a href="https://www.snapchat.com/l/en-gb/" target="_blank" class="fa fa-snapchat"></a></span>
        </div>
      </div>
      <div class="col-sm-4 mobile-view">
        <div class="copyright-footer">copyright &copy;
          <script> document.write(new Date().getFullYear()); </script> ApisMetrics Apiary Management
        </div>
      </div>
    </div>
  </footer>




  {% block postloadjs %}
  <script type='text/javascript'>
    $('.toast').toast('show');
  </script>
  {% endblock %}
</body>

</html>