.emptydiv{
    height: 100px;
}

.capitaise{
    text-transform: capitalize;
}

.hidename{
    display: none;
}

img{
    width: 300px;
    height: auto;
}

img {
    transition:transform 0.25s ease;
}

img:hover {
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
}