.queen_color_info_button{
    color: blue;
}

.queen_color_info_button:hover{
    text-decoration: underline;
}

.dot{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid black;
}

.dot_col{
    text-align: center;
}

.d1{
    background-color: #fff;
}
.d2{
    background-color: #FFFF00;
}
.d3{
    background-color: #ff0000;
}
.d4{
    background-color: #00FF00;
}
.d5{
    background-color: #0000ff;
}
